.selector-for-some-widget {
	box-sizing: content-box;
  }
/* .navtop {
	background-color: rgb(63, 187, 236);
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div a h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div a h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-weight: normal;
}
.navtop div a , .navtop div div ul li a {
	padding: 0 20px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}
.navtop div div ul li a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover , .navtop div div ul li a:hover{
	color: #eaebed;
} */

/*search box css start here*/
	.search-sec{
		padding: 2rem;
	}
	.search-slt{
		display: block;
		width: 100%;
		font-size: 0.875rem;
		line-height: 1.5;
		color: #55595c;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		height: calc(3rem + 2px) !important;
		border-radius:0;
	}
	.wrn-btn{
		width: 100%;
		font-size: 16px;
		font-weight: 400;
		text-transform: capitalize;
		height: calc(3rem + 2px) !important;
		border-radius:0;
	}
	@media (min-width: 992px){
		.search-sec{
			position: relative;
			top: -114px;
			background: rgba(121, 194, 250, 0.51);
		}
	}

	@media (max-width: 992px){
		.search-sec{
			background: rgb(174, 247, 252);
		}
	}

body.loggedin {
	background-color: #ffffff;
	/* background: url(images/carbg.jpg);
    background-repeat: no-repeat;
	background-size: auto; */
	/* background: url(images/carbg.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: hidden; */
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h1 , .main h1 , .jumbotron{
	margin: 0;
	padding: 25px 0;
	font-size: 30px;
	border-bottom: 1px solid #e0e0e3;
	color: #4ad1f3;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

* {
	box-sizing:border-box;
  }
  
  .left {
	background-color:rgb(189, 225, 255);
	padding:20px;
	float:left;
	width:20%; /* The width is 20%, by default */
  }
  
  .main {
	background-color:#ffffff;
	padding:20px;
	float:left;
	width:60%; /* The width is 60%, by default */
  }
  
  .right {
	background-color:rgb(202, 255, 203);
	padding:20px;
	float:left;
	width:20%; /* The width is 20%, by default */
  }
  
  /* Use a media query to add a break point at 800px: */
  @media screen and (max-width:800px) {
	.left, .main, .right {
	  width:100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
  }

.my-table {
	width: 800px;
	border-spacing: 0px;
	border-collapse: separate;
}
.my-table tr td,
.my-table tr th {
	border: 1px solid rgb(84, 180, 245);
	padding: 2px 5px;
}
.my-table tr th {
  background-color: rgb(63, 187, 236);
  color: rgb(255, 255, 255);
}
html, body, ul, ol, li, form, fieldset, legend{
	margin: 0;
	padding: 0;
}

body{
	background: #CCC repeat;
	font-family: 'Vollkorn', serif, Arial;
	font-size: 15px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p { 
	margin: 0; 
	color: blue;
}
		
p{
	margin-bottom:15px;
}
		
a{
	color:#0073BF;
	text-decoration:none;
}
		
#container{			
	width:600px;
	margin:0 auto;
	background:#ffffff;
	padding:20px;
}

#header{
	text-align:center;
	margin:20px 0 40px;
}
		
#footer{
	text-align:center;
	margin-top:40px;
}

#register {
	margin-left:100px;	
}
#register label{
	margin-right:5px;
}
#register input {
	padding:5px 7px;
	border:1px solid #d5d9da;
	box-shadow: 0 0 5px #e8e9eb inset;
	width:250px;
	font-size:1em;
	outline:0;
}

#result{
	margin-left:5px;
}

#register .short{
	color:#FF0000;
}

#register .weak{
	color:#E66C2C;
}

#register .good{
	color:#2D98F3;
}

#register .strong{
	color:#006400;
}
/* input{
	focus:green;
} */

#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }